@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(75%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-75%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.blink-me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
