<div class="home-footer">
  <div class="home-footer-email">tttriet1997@gmail.com</div>
  <div class="home-footer-divider"></div>
  <a
    href="https://www.facebook.com/profile.php?id=100015087697713"
    class="home-footer-email"
    target="_blank"
    rel="noopener"
    >Facebook</a
  >
  <div class="home-footer-divider"></div>
  <div class="home-footer-email">(+84) 819 541 897</div>
  <div class="home-footer-divider"></div>
  <div class="home-footer-address">
    66 Van Chung, Ward 13, District Tan Binh, HCM City
  </div>
</div>
