@import "../../../styles/colors";

.bmi-card {
  background: $card_bg_1;
  border: 1px solid $border_1;
  box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.06);
  border-radius: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: white;
  width: max-content;
  height: 100%;
  width: 400px;
  transition: transform 0.5s;

  &:hover {
    cursor: pointer;
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
  }

  &-head {
    font-weight: bold;
    font-size: 20px;
  }

  &-wh {
    // font-size: 12px;
    width: 50%;
  }

  &-body {
    margin-top: 20px;
    display: flex;
    // justify-content: space-between;

    &-left {
      width: 50%;
    }

    &-bmi {
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 12px;
    }

    &-right {
      // margin-left: 3rem;
      height: max-content;
      padding: 6px 10px;
      background: #d6ffdd;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
    }
  }

  &-low-body {
    display: flex;
    margin-top: 12px;
    flex: 1;
  }

  &-foot {
    margin-top: 24px;

    &-slider {
      width: 100%;
      background: linear-gradient(
        90deg,
        #b5d4f1 0%,
        #81e6db 37.77%,
        #e8d284 70.4%,
        #e2798e 100%
      );
      border-radius: 21px;
      height: 14px;
      position: relative;
    }

    &-pin {
      position: absolute;
      top: -24px;
      left: 0;
      width: 2rem;
    }

    &-scaler {
      display: flex;
      flex-direction: row;
      margin-top: 0.5rem;
      width: 100%;
      justify-content: space-between;
    }
  }
}
