<div class="forgot-password">
  <!-- (ngSubmit)="onFormSubmit()" -->
  <!-- (codeChanged)="onCodeChanged($event)" -->
  <form [formGroup]="forgotForm" class="forgot-password-form">
    <div *ngIf="current === '1'" class="flex-c">
      <label>Email</label>
      <input formControlName="email" title="email" />
      <div class="err-mes">{{ emailErr }}</div>
    </div>
    <div *ngIf="current === '2'" class="flex-c">
      <div class="forgot-password-sent">Code is sent to {{ email }}</div>

      <code-input
        [codeLength]="6"
        (codeCompleted)="onCodeCompleted($event)"
      ></code-input>
    </div>

    <button
      mat-raised-button
      type="submit"
      class="forgot-password-btn"
      (click)="forgot()"
    >
      Confirm
    </button>

    <div class="forgot-password-footer">
      <button mat-button (click)="signIn()" type="button">
        Back to sign in
      </button>
      <div *ngIf="current === '2'" class="flex-c">
        <button
          mat-button
          (click)="sendCode()"
          class="forgot-password-resend-btn"
          [disabled]="timing !== 0"
        >
          Resend {{ timing !== 0 ? "(" + timing + "s)" : "" }}
        </button>
      </div>
    </div>
  </form>
</div>
