

.forgot-password {
  width: 240px;
  height: 100%;
  animation: fadeInLeft 0.4s;
  &-form {
    display: flex;
    flex-direction: column;
  }
  input {
    margin-top: 0.25rem;
  }
  code-input {
    color: white;
    margin-top: 2rem;
    --item-height: 2.25rem;
  }
  &-sent {
    color: white;
  }
  &-btn {
    margin-top: 1rem;
  }
  &-resend-btn {
    color: white;
    background: black;
    width: max-content;
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    button {
      color: white;
      padding: 0;
      &:disabled {
        color: unset;
      }
    }
  }
}
